In [7]:
import pandas as pd

In [12]:
df=pd.read_csv("result.csv",encoding="utf-8")
df.head()

   label_id text_id
0       104   Stool
1       104   Stool
2       104   Stool
3       104   Stool
4       104   Stool

In [14]:
label_df = df.groupby(['label_id'])

In [15]:
label_df

NameError: name 'label_df' is not defined